.App {
  text-align: center;
  color: black;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 500px;
  text-decoration: none;

}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}

a:hover {
  color: blue;
}

.everything {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 50px;

}

.welcome {
  letter-spacing: 5px;
  font-size: 45px;
  text-shadow: 5px 5px white;
  color: aquamarine;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  
}

input {
  width: 450px;
  height: 30px;
  color: black;
  background-color: aquamarine;
  cursor: pointer;
}

.input {
  color: black;
  cursor: pointer;
}

button {
  width: 200px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;

} 

button:hover {
  background-color: black;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
